
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Animacao</title>
    <link href="~/css/loading.css" rel="stylesheet" />
</head>
<body>
    <div id="loadAnimacao">
        <main>

            <h2 class="titulo">Coffice Enterprise&copy;</h2>
            <img src="~/images/coffice.png" />
            <div class="cup"></div>

        </main>
        <footer>
            &copy;Copyright - Powered by Coffice Enterprise
        </footer>
    </div>
</body>
</html>
