@{
    ViewData["Title"] = "Ajuda";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<div class="container-fluid">
    <h2 class="ajuda">Apresentação</h2>

    <p class="texto-ajuda">
        O sistema de Controle De Estoque da Coffice Enterprise© apresenta uma forma
        fácil de administrar seu negócio, transformando toda a complexidade do
        gerenciamento de entrada e saída dos seus produtos em algo intuitivo.
    </p>
    <p class="texto-ajuda">
        Com seu banco de dados salvos na nuvem e a acessibilidade do sistema pela
        internet, seu estoque se mantem disponível a qualquer hora e em qualquer
        lugar. Um software com design moderno e perfeito para empresas pequenas.
    </p>

    <h2 class="ajuda">Quer saber mais?</h2>
    <ul class="lista-ajuda">
        <li>O seu Controle de Estoque está <strong>100% na Nuvem <i class="fas fa-cloud"></i></strong></li>
        <li>Garantia de <strong>99%</strong> de conectividade</li>
        <li>Seus dados estarão protegidos e podem ser acessados de qualquer lugar com acesso a internet</li>
        <li>Sistema compativel com qualquer dispositivo <strong>(Mobile, Tablets e Desktop)</strong></li>
        <li>Design Moderno e Intuitivo, sendo fácil a sua utilização</li>
    </ul>

    <h2 class="ajuda">Entre em Contato conosco</h2>
    <p class="texto-ajuda">cofficeenterprise@gmail.com</p>
</div>