@{
    ViewData["Title"] = "Coffice Enterprise";
}
<link href="~/css/tabelas.css" rel="stylesheet" />
<link href="~/css/customLayout.css" rel="stylesheet" />
<link href="~/css/home.css" rel="stylesheet" />
<div class="titulo-principal">
    <h2>Mercado</h2>
    <h2 class="bento">São Bento</h2>
</div>

