@model MercadoSaoBento.Models.movSaida
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Movimentações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/tabelas.css" rel="stylesheet" />
<link href="~/css/customLayout.css" rel="stylesheet" />
<link href="~/css/home.css" rel="stylesheet" />
<h2>Cadastrar Nova Saida</h2>

<h4>Saida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Usuário </label>
            <input class="form-control" value="@UserManager.GetUserName(User)" disabled />
        </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dataSaida" class="control-label"></label>
                <input asp-for="dataSaida" class="form-control" />
                <span asp-validation-for="dataSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivosSaidaID" class="control-label">Motivo Saida</label>
                <select asp-for="MotivosSaidaID" class="form-control" asp-items="ViewBag.MotivosSaidaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoID" class="control-label">Produto</label>
                <select asp-for="ProdutoID" class="form-control" asp-items="ViewBag.ProdutoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="obs" class="control-label"></label>
                <input asp-for="obs" class="form-control" />
                <span asp-validation-for="obs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
