
.titulo-principal {
    width: 100vw;
    margin-top: 10%;
    margin-left: -15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Century Gothic', sans-serif;
}

    .titulo-principal h2 {
        font-size: 3em;
    }

.bento {
    margin-top: 10%;
    margin-left: -6%;
    color: saddlebrown;
    font-weight: bolder;
}

#sidebar {
    height: 100vh;
}

.imagem-icone {
    width: 90px;
    height: 100px;
}

.ajuda {
    color: saddlebrown;
    font-weight: bolder;
}
.texto-ajuda {
    font-size: 1.2em;
    text-indent: 2ch;
}
.lista-ajuda li {
    font-family: 'Century Gothic', sans-serif;
    color: #999;
    font-size: 1.2em;
}
.registro {
    position: absolute;
    width: 100%;
    top: 83%;
}
.user.active {
    font-size: .5em;
}

.registro.active {
    position:absolute;
    top: 75%;
}

@media (max-width: 767px) {
    .bento {
        margin-top: 18%;
    }

    .titulo-principal {
        width: 100vw;
        margin-top: 25%;
        margin-left: -20%!important;
    }
    #sidebar {
        position: fixed;
        height: 100%;
    }
}

@media (max-width: 490px) {
    html {
        font-size: .7em;
    }
    .titulo-principal {
        margin-top: 37%;
        margin-left: -18%;
    }
    .texto-ajuda {
        font-size: 2em!important;
    }

}
@media (max-width: 320px) {

    .titulo-principal {
        margin-left: -30%!important;
    }
    .titulo-principal h2 {
        font-size: 2em;
    }
}