.container-fluid {
    width: 70vw;
    margin-top: 5%;
    margin-left: 5%;
}

.form-group {
    width: 30vw;
}

.row {
    margin-top: -5%;
}


dl {
    font-size: 1.1em!important;
}
@media (max-width: 786px) {
    .container-fluid {
        position: relative;
        width: 90vw;
        margin-left: -10%!important;
        margin-top: 7%;
    }
    .container-fluid a {
        font-size: 1.2em;
    }
    .glyphicon {
        font-size: .8em;
        display: flex
    }
    .botoes-top{
        position: absolute;
        top: 88%;
        left: 62.5%;
    }
    .espaco {
        margin-bottom: 15%;
    }
}
@media (max-width: 490px) {
    #invisivel {
        display: none;
    }
    .container-fluid h2 {
        font-size: 2.2em;
    }
    .container-fluid {
        width: 95vw;
        margin-left: -11%!important;
        margin-top: 10%;
        font-size: .7em;
    }
}